l10n_py_operations/templates/RecEventoDisconf_v150.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://ekuatia.set.gov.py/sifen/xsd" xmlns="http://ekuatia.set.gov.py/sifen/xsd">
	<xs:include schemaLocation="EventoDisconf_v150.xsd"/>
	<xs:include schemaLocation="Extensions.xsd"/>
	<xs:element name="gGroupGesEve">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="rGesEve" type="trGesEve"/>
				<xs:element name="Extensions" type="ExtensionsType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>